*{
	padding:0;
	margin: 0
}
body{
	background-color: #fff;
	color:#555;
	font-family: 'Avenir Next','Lantinghei SC';
	font-size:14px;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
}
.wrap{
	width: 100%;
	position:absolute;
	top:50%;
	height:800px;
	margin-top:-400px;
	background-color: #333;
	overflow: hidden;
	-webkit-perspective:800px;
	-moz-perspective:800px;

}
/* 海报样式 */
.photo{
	width:260px;
	height:320px;
	position: absolute;
	z-index:1;
	box-shadow: 0 0 1px rgba(0,0,0,.01);
	-webkit-transition:all .6s;
	-moz-transition:all .6s;
}
.photo .side{
	width:100%;
	height:100%;
	background-color:#eee;
	position:absolute;
	top:0;
	right:0;
	padding:20px;
	box-sizing:border-box;

}
.photo .side-front{}
.photo .side-front .image{
	width:100%;
	height:250px;
	line-height:250px;
	overflow: hidden;
}
.photo .side-front .image img{
	width:100%;

}
.photo .side-front .caption{
	text-align: center;
	font-size: 16px;
	line-height:50px;
}
.photo .side-back{}
.photo .side-back .desc{
	color:#666;
	font-size:16px;
	line-height:1.5em; 
}

/* 当前选中的海报的样式 */
.photo_center{
	width:260px;
	height:320px;
	left:50%;
	top:50%;
	margin:-160px 0 0 -130px;
	z-index:999;

}
/* 负责翻转 */
.photo-wrap{
	position:absolute;
	width:100%;
	height:100%;
	-webkit-transform-style:preserve-3d;
	-webkit-transition:-webkit-transform 0.6s ease-in-out;
	-moz-transform-style:preserve-3d;
	-moz-transition:-moz-transform  0.6s ease-in-out;
}
.photo-wrap .side-front{
	-webkit-transform:rotateY(0deg);
	-moz-transform:rotateY(0deg);
}
.photo-wrap .side-back{
	-webkit-transform:rotateY(180deg); 
	-moz-transform:rotateY(180deg);
}
.photo-wrap .side{
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
}


/* 控制按钮的样式 */
.nav{
	width:80%;
	height:30px;
	line-height: 30px;
	position: absolute;
	left:10%;
	bottom: 20px;
	z-index:999;
	text-align: center;
}
@font-face{
	font-family: 'icons';
	src:url("icons.woff") format('woff');
	font-weight:bold;
	font-size:100%;

}
/* 普通样式 */
.nav .i{
	width:30px;
	height:30px;
	display:inline-block;
	cursor:pointer;
	background-color:#aaa;
	text-align: center; 
	vertical-align: center;
	border-radius: 50%;

	-webkit-transform:scale(.5);
	-webkit-transition:all .6s;
	-moz-transform:scale(.5);
	-moz-transition:all .6s;
}

.nav .i:after{
	content:'\e75a';
	font-family:'icons';
	font-size:100%;
	display:inline-block;
	line-height:30px;
	text-align: center;
	color:#fff;
	opacity: 0;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale

}

/* 选中样式 */
.nav .i_current{
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
}
.nav .i_current:after{
	opacity:1;
}
/* 背面样式 */
.nav .i_back{
	-webkit-transform:rotateY(-180deg);
	-moz-transform:rotateY(-180deg);
	background-color:#555;

}
/* 样式优化 */
.photo-wrap{
	-webkit-transform-orgin:0% 50%;
	-moz-transform-orgin:0% 50%;


}
.photo_front .photo-wrap{
	-webkit-transform:translate(0px,0px) rotateY(0deg);
	-moz-transform:translate(0px,0px) rotateY(0deg);
}
.photo_back .photo-wrap{
	-webkit-transform:translate(30px,0px) rotateY(180deg);
	-moz-transform:translate(30px,0px) rotateY(180deg);
}

